body{
    background-image: url("fond_2.webp");
    background-size: cover;
    background-position: center 100px;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: rgb(174, 189, 147); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body:not(.accueilpage)::before {
    content: "";
    position: absolute;
    top: 100px; left: 0; width: 100%; height: 89.4%;
    background: rgba(255, 255, 255, 0.5); /* Noir semi-transparent */
    z-index: -1;
}

h1{
    text-align: center;
    color:rgb(42, 77, 42);
    -webkit-text-stroke: 1px rgb(27, 51, 27);
}

ul.bandeau{
    list-style: none;
}
nav.bandeau{
    width: 90%;
    margin: 0% 5% 0% 5%;
    display: flex;
    border: solid rgb(28, 59, 28);
    border-radius: 10px;
}
a.bandeau{
    color:white;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    padding:4.5% 30% 4.5% 30%;
}
a.bandeau[href="presentation.html"]{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
a.bandeau[href="inscription.html"]{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
li.bandeau{
    padding: 1% 0% 1% 0%;
    width: 25%;
    background-color: rgba(42, 77, 42, 0.65);
}
a.bandeau:hover{
    transition-duration: 0.5s;
    /*background-color:rgba(255, 106, 19,0.5);*/
    color:rgb(247, 148, 91);
    background-color: rgba(42, 77, 42, 0.8);
}

span.etoile{
    color: red;
}

fieldset.inscription{
    margin: 0% 20% 0% 20%;
    display: grid;
    grid-template-columns: 50% 50%;
}
label.inscription{
    font-size: 1.5vw;
    columns: 1;
    margin: 3% 0% 3% 0%;
}
input.inscription,div.inscription,button.inscription{
    font-size: 1.5vw;
    columns: 2;
    margin: 3% 0% 3% 0%;
}
div.inscription{
    display: flex;
}

.afterimage{
    font-size: 2vw;
    text-align: center;
    color:rgb(42, 77, 42);
    -webkit-text-stroke: 1px rgb(27, 51, 27);
    background-color: rgb(174, 189, 147,0.65);
    margin-top: 5vw;
}

a.accueil{
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
    position: fixed;
    left: 25px;
    top: 20px;
    border-radius: 10px;
    background-color: rgb(42, 77, 42);
    padding: 1% 2% 1% 2%;
    border: solid rgb(27, 51, 27) 2px;
}
a.accueilwrong{
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
    position: fixed;
    left: 25px;
    top: 20px;
    border-radius: 10px;
    background-color: rgb(166, 182, 137);
    padding: 1% 2% 1% 2%;
    border: solid rgb(149, 165, 119) 2px;
}
a.accueil:hover{
    background-color: rgb(255, 106, 19);
    border-color: rgb(153, 60, 6);
    transition-duration: 0.5s;
}