/*BODY*/
body{/*Fond et police des pages*/
    height: 65vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(202, 212, 183) 90%), url("../images/background.webp") no-repeat center 65% / contain;/*Fond dégradé avec l'image*/ 
    background-color: rgb(202, 212, 183); 

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    cursor: url("../images/tree.ico"),  auto;/*Curseur arbre*/
}
body.presentation{/*Fond de la présentation plus uniforme*/
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, rgb(202, 212, 183) 90%), url("../images/background.webp") no-repeat center 65% / contain;
    background-color: rgb(202, 212, 183); 
}
body.sombre{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, rgb(28, 59, 36) 90%), url("../images/backgroundSombre.webp") no-repeat center 65% / contain;
    background-color: rgb(28, 59, 36);
}


/*TYPOGRAPHIE TEXTE*/
*{
    color:rgb(28, 49, 28);
}
*:hover{
    transition: all 0.5s;
}
p, tr.voyages_achat td{
    margin: 0% 20% 0% 20%;
    font-size: 1vw;
    text-align: center;
}
p:not(div > p):not(fieldset > p):not(span > p){
    padding: 10px 10px 10px 10px;
    background-color: rgba(28, 49, 28,0.5);
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
h1.titre{/*Le titre sur la bande au dessus*/
    margin-top: 1vw;
    font-size: 3vw;
    color:rgb(42, 77, 42);
    text-align: center;
    -webkit-text-stroke: 1px rgb(27, 51, 27);
}
h1.titre-accueil{/*Le titre de la page d'accueil en gros*/
    text-align: center;
    font-size: 7vw;
    margin-top: 10vw;
    -webkit-text-stroke: 5px rgb(202, 212, 183);
}
h3{
    margin-top: 0.1vw;
}
span.etoile{
    color: rgb(195, 4, 4);
}
span.vert{
    color: rgb(32, 115, 37);
}
.orange{
    color: rgb(255, 106, 19);
}
.sombre *{
    color:white;
}
.sombre h1.titre-accueil{
    -webkit-text-stroke: 5px rgb(42, 77, 42);
}
.sombre h1.titre{
    color:rgb(202, 212, 183); 
}


/*FOOTER*/
.first-afterimage,.afterimageaccueil,.afterimage,a.bandeau{
    text-align: center;
    font-size: 1.5vw;
}
.first-afterimage{ /*Souligner le "nous contacter" ou "accueil"*/
    padding: 0% 5% 0% 5%;
    border-bottom: 2px rgb(42, 77, 42) solid;
}
.afterimageaccueil{
    top: 63vw;
    position: absolute;
    left: 25%;
}
.afterimage{
    left: 42%;
}


/*PHOTOS*/
img.logo{/*Logo en haut de la page*/
    width: 4%;
}
img.profil_picture{/*Photo de profil sur la bannière et dans le profil est ronde*/
    width: 2vw;
    border-radius: 50%;
}
img.edit_icon{/*Petit crayon ou croix*/
    width: 1vw;
    height: 1vw;
    background-color: rgb(255, 106, 19);
}
.imgVoyage{/*images de voyages*/
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
}
.imgVoyage_achat{/*images de voyages*/
    width: 25vw;
    height: 20vw;
    border-radius: 10px;
}
.imgVoyage:hover{/*Agrandir si on passe par dessus*/
    transform: scale(1.03);
}
.imgDetail{
    width: 15vw;
    padding-right: 3vw;
    padding-left: 1.5vw;
}


/*BANDEAU*/
ul.bandeau, ul.admin_defil{
    list-style: none;
}
nav.bandeau{/*La bordure+taille de la bannière d'accueil*/
    width: 90%;
    margin: 0% 5% 0% 5%;
    display: flex;
    border: solid rgb(28, 59, 28);
    border-radius: 10px;
}
a.bandeau{/*Texte et espacement du texte*/
    text-decoration: none;
    padding:6% 25% 6% 25%;
}
a.profil{
    padding:11% 44% 4.5% 44%;
}
li.bandeau{/*Fond transparent*/
    padding: 1% 0% 1% 0%;
    width: 50%;
    background-color: rgba(42, 77, 42, 0.65);
}
li.profil{
    padding-top: 0.5%;
    width: 20%;
    background-color: rgba(42, 77, 42, 0.65);
}
li.bandeau:hover, li.profil:hover, li#current{/*Changement de couleur au passage de la souris*/
    background-color: rgba(32, 60, 32, 0.8);
}
a.bandeau:hover, a.profil:hover{/*Changement de couleur au passage de la souris*/
    color:rgb(247, 148, 91);
}

/*FORMULAIRES*/
legend{
    border: rgb(28, 59, 28) 2px solid;
    color: white;
    font-size: 2vw;
    padding: 1% 1% 1% 1%;
    background-color: rgb(40, 77, 40);
    border-radius: 1vw;
}
fieldset.formulaire{/*Fond et mise en page en grille*/
    border: rgb(28, 59, 28) solid 3px;
    background-color: rgba(174, 189, 147,0.6);
    margin: 0% 20% 0% 20%;
    display: grid;
    grid-template-columns: 50% 50%;
}
fieldset.connexion, fieldset.inscription{
    grid-template-columns: 50% 50%;
}
fieldset.achat{
    margin-bottom: 1vw;
    grid-template-columns:45% 55%;
}
label,input,div.inscription,button.inscription{/*A gauche*/
    font-size: 1.5vw;
    margin: 2% 0% 2% 0%;
}
.sombre fieldset.formulaire{
    background-color: rgba(40, 77, 40,0.6);
}
label{
    columns: 1;
}
input,div.inscription,button.inscription{/*A droite*/
    columns: 2;
}
div.inscription{/*Elements radius sur la même ligne*/   
    display: flex;
}
div.achat{
    font-size: 1.2vw;
}
input[type="radio"]{/*Espacement de la même ligne*/
    margin-right: 5vw;
}
span.champs{
    color: black;
    font-size: 0.7vw;
}
input[name=mdp],input[name=mdpcfrm]{
    width: 25vw;
}


/*BOUTONS*/
button,input[name="deco"],input[name="supp"],#pp_button, input.payer{/*Boutons oranges*/
    color: white;
    cursor: pointer;
    margin: 0vw 0.5vw 0vw 0.5vw;
    border-radius: 7px;
    background-color: rgb(255, 106, 19);
    border: solid 1px rgb(153, 60, 6);
}
button,input[name="deco"],input[name="supp"],#pp_button{
    font-size: 1vw;
}
input[name="deco"],input[name="supp"]{/*Les boutons avec plus de textes prennent plus de place*/
    padding: 0vw 2.5vw 0vw 2.5vw;
}
button:hover,input[name="deco"]:hover,input[name="supp"]:hover,input.admin:hover,#pp_button:hover{
    color: rgb(132, 53, 7);
    background-color: rgb(208, 86, 16);
}
a.accueil{/*Bouton accueil en haut à gauche*/
    font-size: 1.5vw;
    text-decoration: none;
    background-color: rgb(166, 182, 137);
    border: solid rgb(111, 129, 76) 2px;
    border-radius: 10px;
    position: fixed;
    left: 3%;
    top: 3%;
    padding: 1% 2% 1% 2%;
}
a.accueil:hover, a#accueil{/*Changement de couleur*/
    background-color: rgb(255, 106, 19);
    border-color: rgb(153, 60, 6);
}
button.edit_icon, input.edit_icon{
    font-size: 1vw;
    color: white;
    background-color: rgb(255, 106, 19);
    padding: 0.1vw;
    border-radius: 3px;
    border: solid 1px rgb(132, 53, 7);
}
.modif_role,.modif_role option{
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1vw;
    background-color: rgb(255, 106, 19);
}
button.admin_defil{/*Fond transparent*/
    border: solid rgb(28, 59, 28);
    background-color: rgba(42, 77, 42, 0.65);
}
button.admin_stop{/*Fond transparent*/
    border: solid rgb(28, 59, 28);
    color: rgb(144, 144, 144);
    background-color: rgba(19, 41, 19, 0.65);
}
button.admin_defil:hover{
    color:rgb(247, 148, 91);
    background-color: rgba(24, 48, 24, 0.65);
}
button.chg_theme{
    border-radius: 100%;
    background-color: rgb(28, 59, 36);
}
img.mode_sombre{
    width: 3vw;
    height: 3vw;
}


/*PAGE PRESENTATION*/
span.presentation{/*Les sous-titre*/
    font-weight: bold;
    color: rgb(202, 212, 183);
    -webkit-text-stroke: 2px rgb(27, 51, 27);
    border-bottom: solid rgb(51, 94, 51);
    font-size: 3vw;
    padding: 0% 10% 0% 0%;
}
h2.presentation{
    font-size: 2.5vw;
    text-align: center;
    text-decoration: underline;
    -webkit-text-stroke: 0.3px white;
}
h3.presentation{
    font-size: 1.5vw;
}
p.presentation, span.recherche_rapide{
    font-size: 1vw;
    border: 2px rgb(27, 51, 27) solid;
    border-radius: 10px;
}
ul.presentation > li{
    font-size: 0.9vw;
    color: rgb(27, 51, 27);
}
.sombre ul.presentation > li{
    color:rgb(202, 212, 183); 
}
span.recherche_rapide{
    color: white;
    background-color: rgba(27, 51, 27,0.5);
    padding: 1% 4% 1% 3%;
}


/*PAGE CONDITIONS*/
fieldset.conditions{
    border: rgb(28, 59, 28) solid 3px;
    background-color: rgba(174, 189, 147,0.6);
    margin: 0% 20% 0% 20%;
}
.sombre fieldset.conditions{
    background-color: rgba(40, 77, 40,0.6);
}
li.conditions{
    font-weight: bold;
    font-size: 2vw;
}
p.conditions{
    margin: 0% 0% 0% 0%;
}


/*PAGE PROFIL*/
fieldset.profil{/*Fond et mise en page en grille*/
    grid-template-columns: 40% 45% 15%;
}
fieldset.voyages{/*Fond et mise en page en grille*/
    grid-template-columns: 100%;
}
fieldset.options{
    text-align: left;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
span.voyages{/*Fond et mise en page en grille*/
    grid-template-columns: 33% 33% 33%;
}
fieldset.voyages p, fieldset.profil p{
    font-size: 1.2vw;
}
.modif_profil{
    width: 2vw;
}
table.achat{
    text-align: center;
}
#pp_button{
    display: inline-block;
    padding: 5px 10px;
    font-family: sans-serif;
}
input[type="file"] {
    display: none;
}
#file_name{
    font-size: 0.7vw;
}
.hidden{
    display: none;
}

/*PAGE ADMIN*/
caption.admin{
    background-color: rgba(174, 189, 147,0.6);
    border: solid rgb(28, 59, 28);
    border-radius: 10px;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.8vw;
    padding-bottom: 0.2%;
    padding-top: 0.2%;
}
table.admin {
    width: 98%;
    height: 10%;
    margin-left: 1%; /* Centrer le tableau */
    margin-right: 1%;
    border-collapse: collapse; /* Pour éviter les bordures doubles */
    font-size: 1vw;
}
.admin table, .admin th, .admin td, table, th,td{
    border: 2px solid rgb(28, 59, 28);
    border-collapse: collapse; /* Pour éviter les bordures doubles */
}
th.admin {
    background-color: rgb(40, 77, 40);
    color: white;
}
.admin td, .admin th {
    padding: 0.5%;
    text-align: center;
}
.admin tr:nth-child(2n) {
    background-color: rgba(174, 189, 147,0.7); 
}
.admin tr:nth-child(2n+1) {
    background-color: rgba(111, 125, 84, 0.7); 
}
.admin tr:hover{
    background-color: rgba(211, 224, 187, 0.7);
}
.admin td:hover{
    color: rgb(255, 106, 19);
}
input.admin{
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(255, 106, 19);
    border: solid 1px rgb(153, 60, 6);
    font-size: 0.9vw;
    height: 1.5vw;
    width: 3.2vw;
    margin:0vw 0.1vw 0vw 0vw;
}
input.modifier{
    font-size: 1.1vw;
    height: 1.2vw;
    width: 6vw;
    margin: 0vw;
    padding: 0vw;
}
nav.admin_defil{
    width: 10vw;
    height: 1.5vw;
    margin: 0% 5% 0% 40.5vw;
    display: flex;
}
.empty{
    border: none;
    visibility: hidden;
}

/*PAGE DE RECHERCHE*/
input.recherche, select#tri{
    font-size: 1vw;
    margin: 0.5vw;
    border-radius: 5px;
    border: rgb(40, 77, 40) solid 0.2vw;
}
input.recherche[type="checkbox"],input.recherche[type="radio"]{
    width: 1vw;
}
input.recherche:hover, select#tri:hover{
    border: rgb(27, 58, 27) solid 0.2vw;
    background-color: rgb(212, 212, 212);
}
button.recherche{
    width: 50%;
}
div.left{
    text-align: right;
}
span#valBudget{
    font-size: 1vw;
}
div.center{
    text-align: center;
}
input.recherche[type="range"]{
    accent-color: rgb(40, 77, 40);
}
fieldset.recherche{
    border: rgb(28, 59, 28) solid 3px;
    background-color: rgba(174, 189, 147,0.6);
    margin-bottom: 0.5%;
    margin-right: 20%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
fieldset.budget{
    grid-template-columns: 50% 50%;
}
fieldset.rechercher{
    grid-template-columns: 20% 20% 5% 25% 30%;
}
input.recherche, .recherche div>div{
    font-size: 1.2vw;
    width: 15vw;
}
.voyages, fieldset.options{
    border: rgb(28, 59, 28) solid 3px;
    background-color: rgba(174, 189, 147,0.6);
    font-size: 1.2vw;
    margin-bottom: 0.5%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 1%;
}
.voyages{
    text-align: center;
}
.sombre fieldset.recherche{
    background-color: rgba(40, 77, 40,0.6);
}




.sombre .voyages{
    background-color: rgba(40, 77, 40,0.6);
}
.grpV{
    display: flex;
    flex-direction: row;
}
.recap{
    font-size: 1.4vw;
}
.itineraire{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
h3.reco{
    font-size: 1.5vw;
    text-align: center;
}
div.all{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.sombre input{
    color: black;
}
.sombre select{
    color: black;
}

.prix_tot, .prix_total{
    font-size: 1.5vw;
    margin-left: 2vw;
}
.prix_total{
    margin-top: 0.5vw;
    font-size: 2vw;
}
div.panier{
    text-align: center;
    font-size: 1.5vw;
}